### 15.4 판다스 맛보기

In [ ]:
# 타이타닉 CSV 파일을 읽기

import pandas as pd
titanic = pd.read_csv("titanic.csv")
titanic   #데이터 프레임을 출력하면 기본적으로 처음 5행, 마지막 5행이 출력

In [ ]:
# 타이타닉 승객들의 나이를 추출

print(titanic["Age"])

In [ ]:
# 타이타닉 탑승객 중에서 최고령을 추출

print(titanic["Age"].max())

In [ ]:
# 타이타닉 승객 데이터에 대한 기본 통계를 출력

print(titanic.describe())

### 15.5 데이터 프레임 생성하기

시리즈 생성하기 - 1차원 배열

In [ ]:
import pandas as pd

data = ['Kim', 'Park', 'Lee', 'Choi']
ser = pd.Series(data)   # 리스트에서 Series()를 이용하여 생성한다.
print(ser)

데이터 프레임 생성하기 - 2차원 배열

In [ ]:
data = {'Name':['Kim', 'Park', 'Lee', 'Choi'],
        'Age':[20, 23, 21, 26]}
df = pd.DataFrame(data)          # 딕셔너리에서 DataFrame()를 이용하여 생성한다.
print(df)

In [ ]:
# index 매개변수를 사용하면 index를 붙일 수 있다.
df = pd.DataFrame(data, index=["학번 1", "학번 2", "학번 3", "학번 4"])
print(df)

CSV 파일을 읽어서 데이터 프레임 생성하기

In [ ]:
titanic = pd.read_csv("titanic.csv")
print(titanic.dtypes)   # 각 열의 데이터 유형을 파악

In [ ]:
titanic = pd.read_csv('titanic.csv', index_col=0)    # 첫번째 열을 index로 사용
titanic

데이터 프레임의 몇 개행을 보려면

In [ ]:
titanic.head(8)    # 앞부분 8개만 보기

In [ ]:
titanic.tail(8)    # 뒷부분 8개만 보기

데이터 프레임을 엑셀 파일로 저장하려면

In [ ]:
titanic.to_excel('titanic.xlsx', sheet_name='passengers', index=False)   # 데이터 프레임의 인덱스는 저장하지 않음(False)

In [ ]:
titanic = pd.read_excel('titanic.xlsx', sheet_name='passengers')    # 저장된 엑셀파일을 읽기
titanic

난수로 데이터 프레임 채우기

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(0, 100, size=(5, 4)), columns=list('ABCD'))   # 5행 4열의 2차원 배열에 0에서 100사이의 난수 
df

Lab: 데이터 프레임 만들어 보기

In [ ]:
import pandas as pd
countries = pd.read_csv('countries.csv')
countries

### 15.6 원하는 데이터 선택하기

타이타닉 데이터에서 승객의 나이만 추출하려면

In [ ]:
ages = titanic["Age"]
ages.head()

In [ ]:
ages.shape   # 반환되는 데이터의 행과 열의 개수

타이타닉 탑승객의 이름, 나이, 성별을 동시에 알고 싶으면

In [ ]:
titanic[["Name", "Age", "Sex"]]

20세 미만의 승객만 추리려면

In [ ]:
below_20 = titanic[titanic["Age"] < 20]
below_20.head()

In [ ]:
titanic["Age"] < 20   # 데이터 프레임으로 필터링없는 조건을 지정하면 부울값을 구한다.

1등석이나 2등석에서 탑승한 승객을 출력하려면

In [ ]:
titanic[titanic["Pclass"].isin([1, 2])]  #df.isin() : 데이터 프레임 안에 괄호 안의 조건값에 해당하는 것만 True로 반환.

20세 미만의 승객 이름에만 관심이 있다면

In [ ]:
titanic.loc[titanic["Age"] < 20, "Name"]   #df.loc[조건, 열레이블] : 조건에 해당하는 행에서 지정한 열을 출력

20행에서 23행, 5열에서 7열에만 관심이 있다면

In [ ]:
titanic.iloc[20:23, 5:7]   #df.iloc[20:23, 5:7] : 20 <= 행범위 < 23 에서 5 <= 열범위 < 7 를 슬라이싱

데이터를 정렬하는 방법

In [ ]:
titanic.sort_values(by="Age").head()    # 나이에 따라 정렬

In [ ]:
titanic.sort_values(by=['Pclass', 'Age'], ascending=False).head()   # 승객 클래스와 나이에 때라 내림차순 정렬

### 15.7 행과 열의 추가나 삭제

열 추가

In [ ]:
# 인구밀도(= 인구 / 면적)를 나타내는 열을 추가
countries = pd.read_csv('countries.csv')
countries["density"] = countries["population"]/countries["area"]
countries

행 추가

In [ ]:
df = pd.DataFrame({"code":["CA"], "country":["Canada"], "area":[9984670],  "capital":["Ottawa"],  "population":[34300000]}) 
df2 = countries.append(df, ignore_index = True)    #ignore_index = True 인덱스를 새로 부여한다.
df2

행 삭제

In [ ]:
countries.drop(index=2, axis=0, inplace = True)   # axis=0 : 행중심
countries

열 삭제

In [ ]:
countries.drop(["capital"], axis=1, inplace = True)    # axis=1 : 열중심
countries

### 15.8 데이터 통계

타이타닉 승객의 평균 연령은 얼마입니까?

In [ ]:
titanic["Age"].mean()

타이타닉 승객 연령과 탑승권 요금의 중간값은 얼마일까?

In [ ]:
titanic[["Age", "Fare"]].median()

카테고리별 그룹화된 통계

In [ ]:
titanic[["Sex", "Age"]].groupby("Sex").mean()   # Sex열을 기준으로 그룹을 만든 후 Age의 평균을 계산

In [ ]:
titanic.groupby("Sex").mean()   # 따로 계산할 열을 선택하지 않으면 숫자로 된 모든 열에 적용

In [ ]:
titanic.groupby("Sex")["Age"].mean()   # Sex열을 기준으로 그룹을 만든 후 Age의 평균을 계산하는 또 다른 표현

성별 및 승객 등급 조합의 평균 탑승권 요금은 얼마인가?

In [ ]:
titanic.groupby(["Sex", "Pclass"])["Fare"].mean()    # 여러 열(Sex, Pclass)을 동시에 그룹화할 수 있다.

각 승객 등급의 수는 몇 명인가?

In [ ]:
titanic["Pclass"].value_counts()   # value_counts() : 열의 각 카테고리에 대한 행의 수

### 15.9 데이터로 차트 그리기

In [ ]:
import matplotlib.pyplot as plt

df = pd.DataFrame({
    'name':['Kim','Lee','Park','Choi','Hong','Chung','Jang'],
    'age':[22,26,78,17,46,32,21],
    'city':['Seoul','Busan','Seoul','Busan','Seoul','Daejun','Daejun'],
    'children':[2,3,0,1,3,4,3],
    'pets':[0,1,0,2,2,0,3]
})

df.plot(kind='line', x='name', y='pets', color='red')
plt.show()

중첩 챠트 그리기

In [ ]:
ax = plt.gca()   # gca(get current axix) : 하나의 차트에 여러개의 데이터를 중첩해서 그리는 함수

df.plot(kind='line',x='name',y='children',ax=ax)
df.plot(kind='line',x='name',y='pets', color='red', ax=ax)

plt.show()

막대 그래프 그리기

In [ ]:
df.plot(kind='bar',x='name',y='age')
plt.show()

산포도 그리기

In [ ]:
df.plot(kind='scatter',x='children',y='pets',color='red')
plt.show()

그룹핑하여 그리기

In [ ]:
df.groupby('city')['name'].nunique().plot(kind='bar')
plt.show()

히스토그램 그리기

In [ ]:
df[['age']].plot(kind='hist', bins=[0, 20, 40, 60, 80, 100], rwidth=0.8)
plt.show()

### 15.10 테이블의 레이아웃을 바꾸는 방법

피벗 테이블

In [ ]:
titanic = pd.read_csv("titanic.csv")

# 데이터를 쉽게 분석하기 위해 몇 개의 열을 삭제, inplace=True : 원본 수정을 허용
titanic.drop(['PassengerId','Ticket','Name'], inplace=True, axis=1)   
titanic.head()

피벗 테이블에서 인덱스를 사용하여 데이터를 그룹화하자

In [ ]:
table = pd.pivot_table(data=titanic, index=['Sex'])    # 성별에 따라 데이터 그룹화하여 분석
table.plot(kind="bar")

다중 인덱스로 피봇하기

In [ ]:
table = pd.pivot_table(titanic, index=['Sex','Pclass'])    # 성별과 승객 클래스에 따라 데이터 그룹화하여 분석
table.plot(kind="bar")

특징별로 다른 집계 함수 적용

In [ ]:
# index로 있는 키들로 데이터 그룹화하여 aggfunc의 데이터에 지정한 집계함수를 적용
table = pd.pivot_table(titanic ,index=['Sex','Pclass'],aggfunc={'Age':np.mean,'Survived':np.sum})
print(table)
table.plot(kind='bar')

value 매개변수를 사용하여 특정한 데이터에 대한 집계

In [ ]:
table=pd.pivot_table(titanic, index=['Sex', 'Pclass'], values=['Survived'], aggfunc=np.mean)
print(table)
table.plot(kind='bar')     # 생존율은 두 성별 모두 Pclass가 낮아질수록 감소함을 알 수 있다.

데이터 간의 관계 찾기

In [ ]:
# 성별로 그룹화하여 Pclass 별로 생존자 합계를 분석하기
table = pd.pivot_table(titanic ,index=['Sex'],columns=['Pclass'],values=['Survived'],aggfunc=np.sum)
print(table)
table.plot(kind='bar')

### 15.11 데이터 병합

merge

In [ ]:
df1 = pd.DataFrame({'employee': ['Kim', 'Lee', 'Park', 'Choi'],
                    'department': ['Accounting', 'Engineering', 'HR', 'Engineering']})
df2 = pd.DataFrame({'employee': ['Kim', 'Lee', 'Park', 'Choi'],
                    'age': [27, 34, 26, 29]})
df3 = pd.merge(df1, df2)
df3

### 15.12 데이터 정제

결손값 삭제하기

In [ ]:
import pandas as pd

df = pd.read_csv('countries1.csv', index_col=0)   # 인도의 면적 데이터가 누락된 데이터셋
print(df)

df1 = df.dropna(how="any")   # 결손값이 하나라도 있으면(how="any") 해당 행을 삭제(dropna())
print(df1)

결손값 보정하기

In [ ]:
df_0 = df.fillna(0)    # fillna() : 결손값을 다른값으로 교체
df_0

끝