#### 8. 튜플, 세트, 딕셔너리

p.270 튜플

In [ ]:
fruits = ("apple", "banana", "grape")

single_tuple = ("apple",) 	# 쉼표가 끝에 있어야 한다.
print(single_tuple)

no_tuple = ("apple")		# 쉼표가 없으면 튜플이 아니라 수식이 된다.
print(no_tuple)

# fruits[1] = "pear"   		# 오류 발생

for f in fruits:
	print(f, end=" ")  		# apple banana grape 출력

p271 튜플 <-> 리스트

In [ ]:
myList = [1,2,3,4]
myTuple = tuple(myList)   #tuple()는 튜플을 생성하는 함수이다.
print(myTuple)

myTuple = (1, 2, 3, 4)
myList = list(myTuple)
print(myList)

p272 튜플 연산들 - 추가, 삭제와 같은 수정은 할 수 없다. 그러나 튜플을 합치는 것은 가능하다.

In [ ]:
fruits = ("apple", "banana", "grape")
fruits += ("pear", "kiwi")
print(fruits)

p272 튜플 패킹과 언패킹

In [ ]:
x = ("apple", "banana", "grape")   # 튜플 패킹
(s1, s2, s3) = x   # 튜플 언패킹
print(s1, s2, s3)

In [ ]:
# 서로 다른 자료형에 대해서도 패킹과 언패킹이 가능
student = ("Kim" , [3.1, 3.6, 4.0, 0.0])   
name, grades = student
print(name)
print(grades)

In [ ]:
# 데이터 순서 바꾸기에 이용
n1 = 10
n2 = 90
n1, n2 = (n2, n1)
print(n1, n2)

p274 enumerate() 사용하기

In [ ]:
fruits = ["apple","banana","grape"]
for index, value in enumerate(fruits):
	print(index, value)

In [ ]:
fruits = ["apple","banana","grape"]
result = list(enumerate(fruits))   # enumerate() 결과를 리스트에 담기
print(result)

튜플의 장점 - 빠르다. 변경하는 것을 금지한다.

p275 세트 - 순서가 없고 중복이 없다.

p.276 세트 생성하기

In [ ]:
# 직접 생성
numbers = {1, 2, 3}

# 리스트로 부터 세트 생성. set() 함수 사용
numbers = set([1,2,3,1,2,3])  
print(numbers)

# 문자열로 부터 세트 생성
letters = set("abc")
print(letters)

# 비어있는 세트 생성
numbers = set()
print(numbers)

p.276 세트의 연산

In [ ]:
fruits ={"apple","banana","grape"}
size =len(fruits)			# size는 3이 된다.

In [ ]:
fruits = { "apple", "banana", "grape" }
if "apple" in fruits:
	print("집합 안에 apple이 있습니다.")

In [ ]:
fruits ={"apple","banana","grape"}
for x in fruits:
	print(x, end=" ")   # 입력 순서와 출력 순서가 다를 수 있다.

In [ ]:
fruits ={"apple","banana","grape"}
for x in sorted(fruits):    # 정렬된 순서로 출력
	print(x, end=" ")

p277 요소 추가하고 삭제하기

In [ ]:
# 1
fruits ={"apple","banana","grape"}
fruits.add("kiwi")
print(fruits)

# 2
fruits ={"apple","banana","grape", "kiwi"}
fruits.remove("kiwi")
print(fruits)

# 3
fruits ={"apple","banana","grape","kiwi"}
fruits.clear()		# 공백 세트가 된다. 
print(fruits)

p.278 세트 함축 연산

In [ ]:
aList  =[1,2,3,4,5,1,2 ]
result ={ x for x in aList if x%2==0 }
print(result)

p.278 부분 집합 연산

In [ ]:
A ={"apple","banana","grape"}
B ={"apple","banana","grape","kiwi"}

if A < B : 			# 또는 A.issubset(B) :
	print("A는 B의 부분 집합입니다.")

In [ ]:
# 같은지 검사
A ={"apple","banana","grape"}
B ={"apple","banana","grape","kiwi"}

if A == B : 
	print("A와 B는 같습니다.")
else :
    print("A와 B는 같지 않습니다.")

p.279 교집합, 합집합, 차집합

In [ ]:
A ={"apple","banana","grape"}
B ={"apple","banana","kiwi"}

C = A | B     # 또는 C = A.union(B)
print(C)

C = A & B     # 또는 C = A.intersection(B)
print(C)

C = A - B     # 또는 C = A.diffeence(B)
print(C)

p.280 리스트 <-> 세트

list1 = [1,2,3,4,5,1,2,4]
print(set(list1))
print(len(set(list1)))		# 서로 다른 정수의 갯수를 구할 수 있다.

In [ ]:
# 두개의 리스트에 공통으로 있는 숫자 찾기
list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7]
print(set(list1) & set(list2))

(추가) 세트는 순서관계가 없다. 따라서 세트를 정렬하면 결과는 리스트로 바뀐다.

In [ ]:
A = {3, 5, 1, 6, 2}
print(sorted(A))

p.282 Lab. 간단한 표절 검사 프로그램

In [ ]:
s1=input("첫 번째 문자열:")
s2=input("두 번째 문자열:")

s1 = s1.lower()		# 문자열을 소문자로 만드는 메소드, 9장 참조
s2 = s2.lower()
list1 = s1.split(" ")		# 문자열을 단어로 분리하는 메소드, 9장 참조
list2 = s2.split(" ")

total = len(list1)		# 단어의 개수
n = len(list(set(list1)&set(list2)))	# 세트 교집합으로 공통 단어 개수 계산

print(f"\n표절률 = {100*n/total}")
print("공통되는 문장 :", list(set(list1)&set(list2)))

p.283 Lab. 중복되지 않은 단어의 개수 세기

In [ ]:
txt = input("입력 텍스트: ")
words = txt.split(" ")
unique = set(words)			# 집합으로 만들면 자동적으로 중복을 제거한다. 

print("사용된 단어의 개수= ", len(unique))
print(unique)

p.284 딕셔너리

p.285 항목 탐색하기

In [ ]:
capitals = { "Korea": "Seoul" , "USA": "Washington", "UK": "London" } 

print(capitals["Korea"])

# print(capitals["France"])   #에러 발생

# print(capitals.get("France", "해당 키가 없습니다."))   # get()을 쓰면 에러 방지할 수 있다.

if "France" in capitals :    # 키가 있는지 확인하는 방법
	print( "딕셔너리에 포함됨" )
else: 
	print( "딕셔너리에 포함되지 않음" )

p.286 항목 추가하기

In [ ]:
# 1. 가장 간편한 것
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"} 
capitals["France"] = "Paris"
print(capitals)

In [ ]:
# 2. 공백 딕셔너리를 생성하고 하나씩 추가해도 된다.
capitals = {}
capitals["Korea"] = "Seoul"
capitals["USA"] = "Wasington"
capitals["UK"] = "London"
capitals["France"] = "Paris"
print(capitals)

In [ ]:
# 3. 딕셔너리에 다른 딕셔너리를 추가하려면 update()를 사용
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"} 
capitals.update({"France":"Paris", "Germany":"Berlin"})
print(capitals)

p.287 항목 삭제하기

In [ ]:
# pop() 메서드 사용
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"} 
city = capitals.pop("UK")
print(capitals)

In [ ]:
# 키가 있는지 먼저 검사하면 없는 키 삭제할 때 에러 방지
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"} 
if "UK"in capitals :
	capitals.pop("UK")
print(capitals)

In [ ]:
# 모두 삭제. clear()
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"} 
capitals.clear()
if len(capitals)==0 :
	print("딕셔너리가 비어 있음")
else:
	print("딕셔너리가 비어 있지 않음")

p.287 항목 방문하기

In [ ]:
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"} 
for key in capitals :
        print( key, end=" ")
print("\n")

In [ ]:
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"} 
for key in capitals :
        print( key,":", capitals[key])
print()

In [ ]:
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"} 
for key, value in capitals.items() :
        print( key,":", value)       
print()

In [ ]:
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"} 
print(capitals.keys())
print(capitals.values())
print()

In [ ]:
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"} 
for key in sorted(capitals.keys()):
    print(key, end=" ")
print()

p.288 딕셔너리 함축

In [ ]:
values =[1,2,3,4,5,6] 

dic ={ x : x**2 for x in values if x%2==0 }
print(dic)

p.290 Lab. 영한사전

In [ ]:
english_dict ={}			# 공백 딕셔너리를 생성한다. 

english_dict["one"]="하나"	# 딕셔너리에 단어와 의미를 추가한다. 
english_dict["two"]="둘'"		
english_dict["three"]="셋"		

word =input("단어를 입력하시오: ");
print (english_dict[word])

p.291 Lab. 학생 성적 처리

In [ ]:
score_dic = {}

while True:
    name = input("이름 : ")
    score = list(map(int, input("점수: ").split()))  # 공백으로 구분하며 연속 입력
    score_dic[name] = score
    ans = input("다음 입력을 또 있습니까?(y/n)")
    if ans == "n" :
        break

print(score_dic)

for name, score in score_dic.items():
    print(name, "의 평균 성적 = ", sum(score)/len(score))

p.294 연습문제

p.298 Programming